<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About - Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="main-container">
    {{>header}}
    <p>This site was created by {{name}}, it uses data from <a href="https://mapbox.com">Mapbox</a> and <a
            href="https://weatherstack.com">Weather stack</a> using their respective API</p>
    <img class="portrait" src="/img/me.png" alt="">
</div>
{{>footer}}
</body>
</html>