<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help - Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="main-container">
    {{>header}}
    <p>This is the help page</p>
</div>
{{>footer}}
</body>
</html>